body{
    background: #000;
}
/* 
.canvas{
    box-shadow: 0 0 15px dodgerblue;
}

svg{
    display: flex;
    align-items: center;
    justify-content: center;
} */


rect:hover{
    cursor: pointer;
    background: aqua;
}
