*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: visible;
}

body{
    background: #000;
}


#container{
    margin: auto;
    height: 100vh;
    width: 600px;
    background:green;
}

#container:hover{
    cursor: pointer;
}

#football{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 100px;
    height: 100px;
    width: 100px;
}

#score-container{
    position: absolute;
    top: 1em;
    left:2em;
    background-color: rgb(71, 71, 71);
    border-radius: 5%;
    padding: 0.3em;
}

.score{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: 600;
}

@media only screen and (max-width: 650px) {
    #container {
        width: 100vw;
    }

    #football{
        height: 100px;
        width: 100px;
    }

    #score-container{
        top: 0;
        left:0;
    }

    .score{
        font-size: 1em;
    font-weight: 600;
    }
}